torch>=2.0.0
transformers>=4.36.0
chromadb>=0.4.0
python-magic>=0.4.27
textract>=1.6.5
numpy>=1.24.0
langchain-ollama
langchain-core
langchain-community
langchain-huggingface
onnxruntime
pypdf
unstructured[pptx]
langchain
markdown
docutils
beautifulsoup4
pandas
openpyxl
python-docx
ebooklib
python-pptx
python-rtf
python-json
python-email
